{% extends "layout.html" %}
{% block body %}
<div>
    <div class="flexbox-table table-dark">
        <div class='thead'>
            <div class='tr'>
                <div class='th' style="flex: 2;">JIRA</div>
                <div class='th' style="flex: 2;">Model Name</div>
                <div class='th' style="flex: 2;">Customer<br/>Model Name</div>
                <div class='th' style="flex: 2;">Product ID</div>
                <div class='th' style="flex: 1;">Project Code</div>
                <div class='th' style="flex: 1;">Stage</div>
                <div class='th' style="flex: 1;">EE Owner</div>
                <div class='th' style="flex: 1;">PM</div>
                <div class='th' style="flex: 1;">APM</div>
                <div class='th' style="flex: 1;">Customer</div>
                <div class='th' style="flex: 1;">Model Name Code</div>
                <div class='th' style="flex: 4;">Remark</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}