{% extends "layout.html" %}
{% block body %}
<div>
    <div class="flexbox-table table-dark">
        <div class='thead'>
            <div class='tr'>
                <div class='th' style="flex: 2;">JIRA</div>
                <div class='th' style="flex: 2;">Model Name</div>
                <div class='th' style="flex: 2;">Customer<br/>Model Name</div>
                <div class='th' style="flex: 2;">Product ID</div>
                <div class='th' style="flex: 1;">Project Code</div>
                <div class='th' style="flex: 1;">Stage</div>
                <div class='th' style="flex: 1;">EE Owner</div>
                <div class='th' style="flex: 1;">PM</div>
                <div class='th' style="flex: 1;">APM</div>
                <div class='th' style="flex: 1;">Customer</div>
                <div class='th' style="flex: 1;">Model Name Code</div>
                <div class='th' style="flex: 4;">Remark</div>
            </div>
        </div>
        {% for index, value in df.iterrows() %}                
        <div class='tbody'>
            <div class='tr'>
                <div class='td' style="flex: 2;">{{ value['models_JIRA'] }}</div>
                <div class='td' style="flex: 2;">{{ value['models_name'] }}</div>
                <div class='td' style="flex: 2;">{{ value['productIDs_customerModelName'] }}</div>
                <div class='td' style="flex: 2;">{{ value['productIDs_name'] }}</div>
                <div class='td' style="flex: 1;">{{ value['models_projectCode'] }}</div>
                <div class='td' style="flex: 1;">{{ value['models_stage'] }}</div>
                <div class='td' style="flex: 1;">{{ value['owners_name'] }}</div>
                <div class='td' style="flex: 1;">{{ value['models_PM'] }}</div>
                <div class='td' style="flex: 1;">{{ value['models_APM'] }}</div>
                <div class='td' style="flex: 1;">{{ value['productIDs_customer'] }}</div>
                <div class='td' style="flex: 1;">{{ value['models_modelNameCode'] }}</div>
                <div class='td' style="flex: 4;">{{ value['models_remark'] }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}